<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OmegaChallenge_2.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="OmegaChallenge_2.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="OmegaChallenge_2.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OmegaChallenge_2.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="OmegaChallenge_2.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="OmegaChallenge_2.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <OmegaChallenge_2.My.MySettings>
            <setting name="Channel" serializeAs="String">
                <value />
            </setting>
        </OmegaChallenge_2.My.MySettings>
        <OmegaChallenge_2.Settings>
            <setting name="Channel" serializeAs="String">
                <value>TheDrakonLord</value>
            </setting>
        </OmegaChallenge_2.Settings>
        <OmegaChallenge_2.Settings1>
            <setting name="stgChannel" serializeAs="String">
                <value>TheDrakonLord</value>
            </setting>
        </OmegaChallenge_2.Settings1>
    </userSettings>
    <applicationSettings>
        <OmegaChallenge_2.My.MySettings>
            <setting name="Server" serializeAs="String">
                <value>irc.twitch.tv</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>6667</value>
            </setting>
            <setting name="Nick" serializeAs="String">
                <value>MammetBot</value>
            </setting>
            <setting name="Pass" serializeAs="String">
                <value>oauth:nlodm1wfq3ohrh0iw41eebqhbdyc30</value>
            </setting>
            <setting name="Jmsg" serializeAs="String">
                <value>MammetBot has joined</value>
            </setting>
        </OmegaChallenge_2.My.MySettings>
        <OmegaChallenge_2.Settings>
            <setting name="Server" serializeAs="String">
                <value>irc://irc.chat.twitch.tv</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>6667</value>
            </setting>
            <setting name="Nick" serializeAs="String">
                <value>MammetBot</value>
            </setting>
            <setting name="Pass" serializeAs="String">
                <value>oauth:nlodm1wfq3ohrh0iw41eebqhbdyc30</value>
            </setting>
            <setting name="Jmsg" serializeAs="String">
                <value>MammetBot has joined</value>
            </setting>
        </OmegaChallenge_2.Settings>
        <OmegaChallenge_2.Settings1>
            <setting name="stgServer" serializeAs="String">
                <value>irc://irc.chat.twitch.tv</value>
            </setting>
            <setting name="stgPort" serializeAs="String">
                <value>6667</value>
            </setting>
            <setting name="stgNick" serializeAs="String">
                <value>MammetBot</value>
            </setting>
            <setting name="stgPass" serializeAs="String">
                <value>oauth:nlodm1wfq3ohrh0iw41eebqhbdyc30</value>
            </setting>
            <setting name="stgJmsg" serializeAs="String">
                <value>MammetBot has joined</value>
            </setting>
        </OmegaChallenge_2.Settings1>
    </applicationSettings>
</configuration>